.header {
  width: 100%;
  margin-top: 4rem;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}

.navLink,
.navLink:visited {
  color: #5252529c;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

.active {
  border-bottom: 2px solid black;
  color: #525252 !important;
}
